#contectBanner {
    height: 100%;
    width: 100%;
    background-image: image-set(url("../contactIMG/contactBanner.svg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
