#select{
    width: 35%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#select>p{
    cursor: pointer;
    font-weight: bold;
    font-family: pretendard;
    font-size: 1vw;
}