.validationOverviewSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#select{
    width: 38%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#select>p{
    cursor: pointer;
    font-family: pretendard;
    font-size: 0.95vw;
    font-weight: bold;
}

.vselecteBar{
    position: relative;
    width: 38%;
    height: 8%;
    background-color: #F1F2F9;
    z-index: -1;
}
.vbar{
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #00F3C7, #42C8FF, #7737FF);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, left 0.5s ease-in-out, border-radius 0.5s ease-in-out; 
    position: absolute;
    left: 0%;
    top: 0%;
}