#mainBanner{
    height: 100%;
    width: 100%;
    background-image: url("../mainPageIMG/mainbackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}